/* Estilos generales para el formulario */
form.contact {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    /*background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para las etiquetas */
  form.contact label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilos para los campos de entrada */
  form.contact input[type="text"],
  form.contact input[type="email"],
  form.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Estilo específico para el campo de texto */
  form.contact textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  /* Estilos para el botón de envío */
  form.contact input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Cambio de color del botón al pasar el cursor */
  form.contact input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos responsivos */
  @media (max-width: 480px) {
    form.contact {
      padding: 15px;
    }
  
    form.contact input[type="submit"] {
      width: 100%;
      padding: 14px;
    }
  }
  